#cboxLoadedContent.iipmooviewer {
  position: absolute;
  overflow: hidden !important;
}

#cboxLoadedContent.iipmooviewer > .cboxPhoto {
  visibility: hidden;
}

.iipmooviewer .navcontainer .navbuttons {
  z-index: 100;
}

.iipmooviewer .canvas {
  width: 100% !important;
  height: 100% !important;
}

a.colorbox {
  position: relative;
  display: block;
}

a.wisski-inline-iip > div#wisski-iip-cont {
  position: relative;
  display: block;
}

a.wisski-inline-iip > div#wisski-iip-cont > img {
  visibility: hidden;
}

canvas {
   width: 80% !important;
   height: 80% !important;
   display: block;
}