*.yml~
*.module~
*.php~
./main/config.json
./scripts/.env
node_modules
/.parcel-cache
*.mdb~
!/dist/.gitkeep

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
