#cboxLoadedContent.iipmooviewer {
  position: absolute;
  overflow: hidden !important;
}

#cboxLoadedContent.iipmooviewer > .cboxPhoto {
  visibility: hidden;
}

.iipmooviewer .navcontainer .navbuttons {
  z-index: 100;
}

.iipmooviewer .canvas {
  width: 100% !important;
  height: 100% !important;
}

a.colorbox {
  position: relative;
  display: block;
}

a.wisski-inline-iip > div#wisski-iip-cont {
  position: relative;
  display: block;
}

a.wisski-inline-iip > div#wisski-iip-cont > img {
  visibility: hidden;
}

canvas {
   display: block;
   z-index: 0;
   position: absolute;
}

#guiContainer {
	z-index: 10;
	position: absolute;
	display: block;
}

.toastify {
  padding: 12px 20px;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
  background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
  background: linear-gradient(135deg, #73a5ff, #5477f5);
  position: fixed;
  right: 15px;
  opacity: 0;
  transition: all 1.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2px;
  cursor: pointer;
  z-index: 10;
}

.toastify.on { opacity: 1; }

.toast-close {
	border: none;
	background: none;
	padding-left: 8px;
}

.hierarchy {
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.hierarchy::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
	border-radius: 6px;
	background-color: #F5F5F5;
}

.hierarchy::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.hierarchy::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
	background-color: #555;
}

.closed {
	overflow: hidden;
}

#TextCanvas {
	position: absolute;
	z-index: 8;
	pointer-events: none;
	--font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Arial,sans-serif;
    --font-family-mono: Menlo,Monaco,Consolas,"Droid Sans Mono",monospace;
    color: #000000;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
	padding: 10px 0 0 15px;
	max-width: 70%;
	width: 70%;
}

#metadata-collapse {
	width: 45%;
	pointer-events: auto;
	font-weight: 600;
	cursor: pointer;
	margin-bottom: 5px;
	font-size: 15px;
}

#metadata-collapse:hover {
	font-weight: 600;
}

#metadata-collapse:after {
	content: "\21B4";
}

#metadata-collapse.metadata-collapsed:after {
	content: "\21B5";
}

#metadata-container {
	width: 100%;
	position: absolute;
	margin-top: 10px;
}

#metadata-content {
	display: none;
	overflow: hidden;
	margin-top: -100%;
	transition: all 2s;
}

#metadata-content.expanded {
	margin-top: 0;
	display: contents;
	overflow: visible;
}

#image-list {
	display: flex;	
}

.modalGallery {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 20; /* Sit on top */
	left: 0;
	top: 0;
	width: 95%;
	height: 95%;
	left: 2.5%;
	top: 5%;
	overflow: hidden;
	background-color: rgba(255,255,255,0.95); /* Black w/ opacity */
	box-shadow: 0px 0px 15px 15px rgb(75 74 71);
	border-radius: 1%;
	margin: auto;
	animation-name: zoom;
	animation-duration: 0.6s;
}

.modalImage{
	margin: auto;
	display: block;
	width: auto;
	height: 100%;
	max-width: 100%;
	animation-name: zoom;
	animation-duration: 0.6s;
}

.closeGallery {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #0f0f0f;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

#downloadModel {
    z-index: 1;
    position: relative;
    right: -67%;
    top: 5px;
    width: 25px;
    height: 25px;
    background-size: 25px;
	cursor: pointer;
}

#viewEntity {
    z-index: 1;
    position: relative;
    right: -67%;
    top: -20px;
    width: 22px;
    height: 22px;
    background-size: 22px;
	cursor: pointer;
}

#fullscreenMode {
    z-index: 1;
    position: absolute;
	bottom: 50%;
    width: 20px;
    height: 20px;
    background-size: 25px;
	cursor: pointer;
	margin-bottom: 25px;
}

.field--type-image{	
	width: 100%;
	height: 100%;
    transition: all 500ms linear;
	box-sizing: border-box;
	display: flex;
	/*margin: 5em 0 5em 0;*/
}

.field--type-image:not(:focus):hover {
	transition: all 500ms linear;
	width: 175%;
	height: 175%;
	box-sizing: border-box;
	display: flex;
	z-index: 990;
	/*margin: -1em 0 -1em 0;*/
}

.image-list-item:hover {
	transition: all 500ms linear;
	background: #aeaeae;
	/*width: 175%;
	height: 175%;*/
	box-sizing: border-box;
	display: flex;
	z-index: 999;
	/*margin: -1em 0 -1em 0;*/
}

.widget>select {
    color: #000;
}

.metadataSeparator {
	width: 80px;
	margin: 5px 0px;
}