{
	"domain": "https://your.domain.com,
	"metadataDomain": "https://your.domain.com",
	"container": "DFG_3DViewer",
	"galleryContainer": "block-bootstrap5-content",
	"galleryImageClass": "field--type-image",
	"galleryImageID": "",
	"basePath": "/modules/dfg_3dviewer/viewer",
	"entityIdUri": "/wisski/navigate/(.*)/view",
	"viewEntityPath": "/wisski/navigate/",
	"attributeId": "wisski_id",
	"lightweight": false,
	"scaleContainer": {"x": 1, "y": 1.0}
}